<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    	 <% @schedule.each do |scheduleItem| %>
    <tr>
    	 <td><%= scheduleItem %></td>
    </tr>
    <!-- etc. etc. -->
  <% end %>
  </table>

</body>
</html>